<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Lista de Compras</title>
  </head>
  <body>
    <h1>Bienvenido a mi app de Lista de Compras</h1>

    <!-- Botón para eliminar pendientes -->
    <button>Eliminar Pendiente</button>

    <h3>Productos por comprar</h3>
    <table>
      <tbody>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
        </tr>
        <tr>
          <td> Leche </td>
          <td> 2 litros </td>
        </tr>
        <tr>
          <td> Pan </td>
          <td> 1 paquete </td>
        </tr>
      </tbody>
    </table>

    <h3>En el carrito</h3>
    <table>
      <tbody>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
        </tr>
        <tr>
          <td> Arroz </td>
          <td> 1 kilo </td>
        </tr>
        <tr>
          <td> Huevos </td>
          <td> 12 unidades </td>
        </tr>
      </tbody>
    </table>

    <h3>Comprado</h3>
    <table>
      <tbody>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
        </tr>
        <tr>
          <td> Café </td>
          <td> 1 frasco </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>